// =========================
// Carousel
// =========================

.first-column {
    flex-basis: 18%;
}

.middle-column {
    flex-basis: 28%;
}

.carousel__leading_question {
    flex-basis: 100%;
    font-size: 25px;
    word-spacing: 0.1rem;
    font-family: "Palo Wide Light", Arial, Helvetica, sans-serif;
    h4 {
        word-spacing: 0.1rem;
        font-family: "Palo Wide Light", Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 600;
    }
}

#cardContainer > div:first-child {
    padding-left: 0px;
}
#cardContainer > div:last-child {
    padding-right: 0px;
}

.col-custom-5 {
    width: 20%;
    float: left;
}

.control {
    background-color: transparent;
    border: 0;
    margin: auto;
    background-color: #181717;
    color: #ffffff;
    border-radius: 100%;
    padding-left: 0.5em;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control:active,
.control:hover {
    background-color: #fdc000;
    color: #181717;
}

.spacer {
    height: 100px;
}

.enter {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.leave {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

// =========================
// Carousel - Responsive
// =========================

@media only screen and (max-width: 1024px) {
    .first-column {
        flex-basis: 30%;
    }

    .middle-column {
        flex-basis: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .middle-column {
        flex-basis: 100%;
    }
}
