.card {
    &__container {
        flex-shrink: 0;
        transform: scale(0.8);
        width: 100%;
        height: 500px;
        border-radius: 10px;
        padding: 5rem;
        background-color: #f9f9f9;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
        border-bottom: 5px solid #fdc000;
        text-align: center;
        transition: all .5s ease-in-out;
    }

    &__active {
        transform: scale(1.2);
        background-image: linear-gradient(to bottom, #343434, #181717);

        &>.card__service__tagline {
            margin-bottom: 2rem;
            font-family: 'Palo Wide Medium', Arial, Helvetica, sans-serif;
            font-size: 35px;
            color: #FFFFFF;
        }

        &>.card__service__cta_container {

            &:hover {
                cursor: pointer;
                & h4 {
                    color: #fdc000;
                }
                & fa-icon {
                    color: #fdc000;
                }
            }

            & h4 {
                color: #FFFFFF;
                font-family: 'Palo Wide medium', Arial, Helvetica, sans-serif;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
            }

            & fa-icon {
                color: #FFFFFF;
            }
        }
    }

    &__service {
        &__image {
            margin-bottom: 5rem;
        }

        &__tagline {
            margin-bottom: 5rem;
            font-family: 'Palo Wide light', Arial, Helvetica, sans-serif;
            font-size: 35px;
        }

        &__cta_container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}