.app-container {
    height: 100%;
    width: 100%;
    background-color: #f6cccd;
}

.inner-container {
    height: 100%;
    width: calc(100% - 15%);
    margin-left: auto;
    margin-right: auto;
    background-image: url('../assets/ioco-mtn-repeating-bg.png');
    background-size: 8% 100%;
    background-position: center;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}